<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba de Login y Register</title>
</head>
<body>
    <h1>¡Bienvenidos!</h1>
    <form action="/">
        <a href="/register">Registro</a>
        <a href="/login">Login</a>
    </form>
    
</body>
</html>