<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba de Login y Register</title>
</head>
<body>
    <h1>¡Hola, <%= user.username %>!</h1>
    <form action="/logout" method="GET">
        <button type="submit">Logout</button>
    </form>
    
</body>
</html>